<!DOCTYPE html>
<html lang="de">

<head>
    <title>Parkerlaubnisse</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="stylesheet" href="monitor.css"> -->

    <!-- JS -->
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 22px;
            padding: 8px;
        }

        table,
        th,
        td {
            border: 1px solid lightgray;
            border-collapse: collapse;
        }
    </style>
    <script>
        setTimeout(function () {
            window.location.reload(1);
        }, 5000);
    </script>

</head>

<body style="background-color: black; color:lightgray">
    <h2 id="datetime">Aktuelle Parkprobleme am </h2>
    <script>
        var dt = new Date();
        document.getElementById("datetime").textContent += dt.toLocaleString() + " Uhr (alle 5 Sekunden aktualisiert)";
    </script>

    <table>
        <thead>
            <tr>
                <th>P1</th>
                <th>P2</th>
                <th>P3</th>
                <th>P4</th>
                <th>P5</th>
                <th>P6</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% Object.values(vorfaelle).forEach(function(vorfall){ %>
                    <td>
                        <div>
                            <%=vorfall.kamera %>
                        </div>
                        <div>
                            <%=vorfall.zeitpunkt %>
                        </div>
                        <div>
                            <%=vorfall.kennzeichen %>
                        </div>
                        <div>
                            <%=vorfall.vorname %>
                        </div>
                        <div>
                            <%=vorfall.nachname %>
                        </div>
                        <div>
                            <%=vorfall.parkplaetze %>
                        </div>
                    </td>
                    <% }); %>
            </tr>
        </tbody>
    </table>

</body>

</html>