<div class="col  mx-3 my-2 px-0 py-1">
    <div class="input-group">
        <div class="input-group-text">
            <input class="form-check-input mt-0 parking-lot" type="checkbox"
                value="" id=<%= id %> data-cy-parkinglot-checkbox=<%= id %>
                aria-label="Checkbox for following text input">
        </div>
        <label for=<%= id %> class="input-group-text" data-cy-parkinglot-label=<%= id %> ><%= parkingLot %></label>
    </div>
</div>